* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;

  --font-family: "Archivo", sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/140% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1,
h2,
h3 {
  font: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  padding: 32px;
  margin-inline: auto;
}

main {
  row-gap: 80px;
  column-gap: 32px;
  grid-template-columns: 2fr 1.4fr;

  grid-template-areas: "featured featured" "weekly weekly" "ai aside";
}

.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  font: 500 10px/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }

  nav strong {
    display: none;
  }

  nav img:nth-last-child(1) {
    margin-left: 70px;
  }

  #secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & a {
      font-size: 14px;
    }
  }

  main {
    row-gap: 32px;
    max-width: 20.5rem;
  }

  #featured {
    grid-auto-flow: row;
  }

  .grid.grid-cols-2.gap-16 {
    grid-template-columns: 1fr;
  }

  #weekly .grid {
    grid-template-columns: 1fr;
  }

  #weekly img {
    width: 100%;
    background-size: cover;
    object-fit: cover;
    height: auto;
  }

  #ai {
    display: flex;
    flex-direction: column;
    max-width: 20.5rem;
    grid-template-columns: 1fr;
  }

  #ai article {
    display: grid;
    grid-template-columns: 1fr;
  }

  #ai article img {
    display: none;
  }

  #ai span {
    font-size: 10px;
  }

  #ai h3 {
    font-size: 16px;
  }

  #ai p {
    font-size: 14px;
  }

  #ads img {
    width: 100%;
    height: auto;
  }

  section#more {
    display: flex;
    flex-direction: column;
  }

  section#more .grid {
    display: flex;
    flex-direction: column;
  }

  section#more article {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  section#more article div:first-child img {
    width: 100%;
    height: auto;
  }
}
